#loginContainer {
  display: flex;
  height: 100vh;
}

#banner {
  height: auto;
  width: 50%;              
  object-fit: cover;
  flex-shrink: 0;           
}

#loginBox {
  position: relative;
  flex: 1;
  display: block;
  align-content: center;
  background-color: #fbffa5;  
}

#logo {
  height: 30vh;
  width: auto;
}

#loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

#loginBox input,
#loginBox button, 
#providers button {
  padding: 2vh;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  border-radius: 10px;
  opacity: 0.75;
  box-sizing: border-box; 
  border: none;  
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

#loginBox input {
  background-color: #f6f6e9;
  width: 80%;
}

#loginBox button {
  width: 80%;
  background-color: #ff862f;
  color: #ffffff;
  appearance: none;         
  -webkit-appearance: none;
}

#providers {
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
}

#providers button {
  width: 39%;
  background-color: #33271e
}

.stripes {
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;       
  object-fit: cover;
  z-index: 0;
  background-repeat: repeat-x;
}

.stripes.top {
  top: 0;
}

.stripes.bottom {
  bottom: 0;
}

@media ((max-width: 600px) or (max-aspect-ratio: 4/3)) {
  #banner {
    display: none;
  }

  #login {
    flex: 1;
    width: 100%;
  }
}

@media (max-height: 600px) {
  .stripes {
    display: none;
  }
}